body{
    background-color: rgb(197, 151, 240);
}
#main{
    text-align: center;
    
}
h1{
   background-image: url("assets/tictacs.jpg");
   color: azure;
}

#main-game{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto) ;
    width: 75%;
    padding: 0px 200px;
    background-image: url("assets/tictactoe.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}
.divs{
    width: 200px;
    border: 5px dashed rgba(255, 0, 0, 0.545);
    font-family: 'Yatra One', cursive;
    font-size: 4em;
    height: 120px;
    color: red;
}
button{
    margin-top: 20px; ;
    background-image: url("assets/tictacs.jpg") ;
    color: azure;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 16px 2px -15px;
}
