#main-game{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    width: 75%;
    
}
.divs{
    width: 300px;
    text-align: center;
    border: 5px solid black;
    line-height: 10;
}
