body{
    background-color: rgb(197, 151, 240);
}
#main{
    text-align: center;
    
}
h1{
   
}
#main-game{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto) ;
    width: 75%;
    padding: 0px 200px;
    
}
.divs{
    width: 200px;
    border: 5px solid black;
    font-family: 'Yatra One', cursive;
    font-size: 4em;
    height: 100px;
    
}
button{
    margin-top: 20px; ;
}
